<section class="grid_container blog_section">
   <header class="content_header">
        <div class="content_header__left">
            <h3 class="content_header__intro">Skyway статьи</h3>
            <h2 class="content_header__name">Полезное<br>и интересное</h2>
        </div>
        <div class="content_header__right">
            <a class="content_header_all_btn" href="#">Больше статей <img src="./assets/i/arrow_blue.png" alt="all-tours"></a>
        </div>
   </header>

   <div class="blog_section__acticles">
       <a href="#" class="blog_section__acticle">
          <div class="blog_section__date">
               11/01/2018
           </div>
           <div class="blog_section__image" style="background-image: url(./assets/i/article1.png);">
               <div class="blog_section__btn">Читать статью <img src="./assets/i/arrow_r.png" alt="arrow"></div>
           </div>
           <div class="blog_section__name">
                Что должен знать<br>турист, выезжая в тур
           </div>
           <div class="blog_section__descr">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
           </div>
          <div class="blog_section__gradient"></div>
       </a>
  
 
       <a href="#" class="blog_section__acticle">
           <div class="blog_section__date">
               11/01/2018
           </div>
           <div class="blog_section__image" style="background-image: url(./assets/i/article2.png);">
               <div class="blog_section__btn">Читать статью <img src="./assets/i/arrow_r.png" alt="arrow"></div>
           </div>
           <div class="blog_section__name">
                Как выжить в лесу<br>Полезные советы
           </div>
           <div class="blog_section__descr">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
           </div>
          <div class="blog_section__gradient"></div>
       </a>
   
  
       <a href="#" class="blog_section__acticle">
            <div class="blog_section__date">
                11/01/2018
            </div>
           <div class="blog_section__image" style="background-image: url(./assets/i/article3.png);">
               <div class="blog_section__btn">Читать статью <img src="./assets/i/arrow_r.png" alt="arrow"></div>
           </div>
           <div class="blog_section__name">
                Отдых вместе с детьми<br>Полезно знать
           </div>
           <div class="blog_section__descr">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
           </div>
          <div class="blog_section__gradient"></div>
       </a>
       <div class="clear"></div>
   </div>
</section>