<div class="banner_contacts">
    <div class="banner_contacts__container">
        <div class="main_contacts__mail_phone">
            <a href="tel:77272223370">7 727 222 33 70</a><br>
            <a href="mailto:infoskyway@soon.kz">infoskyway@soon.kz</a>
        </div>
        <div class="main_contacts__social_block">
            <a class="main_contacts__social" href="#">
                <img src="./assets/i/facebook.png" alt="facebook">
            </a>
            <a class="main_contacts__social" href="#">
                <img src="./assets/i/instagram.png" alt="instagram">
            </a>
            <a class="main_contacts__social" href="#">
                <img src="./assets/i/whatsapp.png" alt="whatsapp">
            </a>
        </div>
    </div>
</div>