<section class="grid_container pop_tours">

    <header class="content_header">
        <div class="content_header__left">
            <h3 class="content_header__intro">Skyway популярное</h3>
            <h2 class="content_header__name">Туры в Алматы</h2>
        </div>
        <div class="content_header__right">
            <a class="content_header_all_btn" href="#">Все туры <img src="./assets/i/arrow_blue.png" alt="all-tours"></a>
        </div>
    </header>
    
    <article class="default_tour_block">
        <div class="default_tour_block__top" style="background-image: url(./assets/i/banner3.png);">
            <div class="default_tour_block_info">
                <div class="default_tour_block_text">
                 6 дней<span>|</span>125 678т
                </div>
            </div>         
        </div>
        <div class="default_tour_block__bottom">
            <h2 class="default_tour_block__name">Большое алматинское озеро</h2>
        </div>
    </article>

    <article class="default_tour_block ">
        <div class="default_tour_block__top" style="background-image: url(./assets/i/banner2.png);">
            <div class="default_tour_block_info">
                <div class="default_tour_block_text">
                 6 дней<span>|</span>125 678т
                </div>
            </div>         
        </div>
        <div class="default_tour_block__bottom">
            <h2 class="default_tour_block__name">Путешествие в старый мир</h2>
        </div>
    </article>

    <article class="default_tour_block default_tour_block--last">
        <div class="default_tour_block__top" style="background-image: url(./assets/i/banner5.png);">
            <div class="default_tour_block_info">
                <div class="default_tour_block_text">
                 6 дней<span>|</span>125 678т
                </div>
            </div>         
        </div>
        <div class="default_tour_block__bottom">
            <h2 class="default_tour_block__name">Великие горы Казахстана</h2>
        </div>
    </article>
    
</section>