<section class="gallery">
    <div class="tour_gallery__header">
        <header class="content_header">
            <div class="content_header__left">
                <h3 class="content_header__intro">Skyway галлерея</h3>
                <h2 class="content_header__name">Астана<br>в фотографиях</h2>
            </div>
            <div class="content_header__right">
                <div id="gallery-prev-slide" class="content_header__arrow content_header__arrow--left"></div>
                <div id="gallery-next-slide" class="content_header__arrow content_header__arrow--right"></div>
            </div>
        </header>
    </div>
    <div class="gallery__container">
        <div id="gallery-slider" class="gallery__slide_container">
            <div class="gallery__slide_block">
                
                <div style="background-image: url(./assets/i/gallery1.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery1.png"><div class="gallery__bg"></div></a></div>
                
                 <div style="background-image: url(./assets/i/gallery3.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery3.png"><div class="gallery__bg"></div></a></div>

                <div style="background-image: url(./assets/i/gallery2.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery2.png"><div class="gallery__bg"></div></a></div>
            
               
                <div class="clear"></div>
            </div>
            <div class="gallery__slide_block">
                    <div style="background-image: url(./assets/i/gallery4.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery4.png"><div class="gallery__bg"></div></a></div>
                
                    <div style="background-image: url(./assets/i/gallery5.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery5.png"><div class="gallery__bg"></div></a></div>

                    <div style="background-image: url(./assets/i/gallery6.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery6.png"><div class="gallery__bg"></div></a></div>

                    <div class="clear"></div>
            
            </div>
            <div class="gallery__slide_block">
                
                <div style="background-image: url(./assets/i/gallery1.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery1.png"><div class="gallery__bg"></div></a></div>
                
                 <div style="background-image: url(./assets/i/gallery3.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery3.png"><div class="gallery__bg"></div></a></div>

                <div style="background-image: url(./assets/i/gallery2.png);" class="gallery__photo"><a rel="group1" href="./assets/i/gallery2.png"><div class="gallery__bg"></div></a></div>
            
               
                <div class="clear"></div>
            </div>
           
        </div>
    </div>
</section>