<header class="main_header">
    <div class="main_header__left">
        <a href="#"><img class="main_header__logo" src="./assets/i/sky_logo.png"></a>
        <div class="main_header__leng"><span>ENG</span><span class="main_header__leng--active">RU</span></div>
    </div>
    <div class="main_header__right">
        <div class="main_header__right_container">
            <div class="main_header__search"><input type="text" placeholder="Найти..." class="main_header__search_input"></div>
            <img id="menu_toggle" class="main_header__hamburger" src="./assets/i/menu.png">
        </div>
        <div id="header-slider-bg" class="main_header__bg"></div>
    </div>
    <div id="header-line" class="main_header__line"></div>
</header>
<header style="display: none;" id="header_spy" class="main_header main_header--spy">
    <div class="main_header__left main_header__left--spy">
        <a href="#"><img class="main_header__logo" src="./assets/i/sky_logo.png"></a>
        <div class="main_header__leng"><span>ENG</span><span class="main_header__leng--active">RU</span></div>
    </div>
    <div class="main_header__right main_header__right--spy">
        <div class="main_header__search"><input type="text" placeholder="Найти..." class="main_header__search_input"></div>
        <img id="menu_toggle_2" class="main_header__hamburger" src="./assets/i/menu.png">
    </div>
    <div class="main_header__line"></div>
</header>