<header class="main_header main_header--country">
    <div class="main_header__left main_header__left--country">
        <a href="#"><div class="main_header__logo" style="background-image: url(./assets/i/vector/logo_w.svg);"></div></a>
        <div class="main_header__leng"><span>ENG</span><span class="main_header__leng--active">RU</span></div>
    </div>
    <div class="main_header__right main_header__right--country">
        <div class="main_header__search"><input type="text" placeholder="Найти..." class="main_header__search_input"></div>
        <img id="menu_toggle" class="main_header__hamburger" src="./assets/i/menu.png">
    </div>
    <div id="header-line" class="main_header__line"></div>
</header>
<header style="display: none;" id="header_spy" class="main_header main_header--spy">
    <div class="main_header__left main_header__left--spy">
        <a href="#"><div class="main_header__logo" style="background-image: url(./assets/i/vector/logo_w.svg);"></div></a>
        <div class="main_header__leng"><span>ENG</span><span class="main_header__leng--active">RU</span></div>
    </div>
    <div class="main_header__right main_header__right--spy">
        <div class="main_header__search"><input type="text" placeholder="Найти..." class="main_header__search_input"></div>
        <img id="menu_toggle_2" class="main_header__hamburger" src="./assets/i/menu.png">
    </div>
    <div class="main_header__line"></div>
</header>