<section class="other_tours">

    <header class="content_header">
        <div class="content_header__left">
            <h3 class="content_header__intro">Skyway туры</h3>
            <h2 class="content_header__name">Другие туры</h2>
        </div>
    </header>
    
    <div class="default_tour__container">
        <a href="#" class="default_tour_block">
            <div class="default_tour_block__top" style="background-image: url(./assets/i/banner3.png);">
                <div class="default_tour_block_info">
                    <div class="default_tour_block_text">
                     6 дней<span>|</span>125 678т
                    </div>
                </div>         
            </div>
            <div class="default_tour_block__bottom">
                <h2 class="default_tour_block__name">Большое алматинское озеро</h2>
            </div>
        </a>

        <a href="#" class="default_tour_block">
            <div class="default_tour_block__top" style="background-image: url(./assets/i/banner2.png);">
                <div class="default_tour_block_info">
                    <div class="default_tour_block_text">
                     6 дней<span>|</span>125 678т
                    </div>
                </div>         
            </div>
            <div class="default_tour_block__bottom">
                <h2 class="default_tour_block__name">Путешествие в старый мир</h2>
            </div>
        </a>

        <a href="#" class="default_tour_block">
            <div class="default_tour_block__top" style="background-image: url(./assets/i/banner5.png);">
                <div class="default_tour_block_info">
                    <div class="default_tour_block_text">
                     6 дней<span>|</span>125 678т
                    </div>
                </div>         
            </div>
            <div class="default_tour_block__bottom">
                <h2 class="default_tour_block__name">Великие горы Казахстана</h2>
            </div>
        </a>

        <a href="#" class="default_tour_block">
            <div class="default_tour_block__top" style="background-image: url(./assets/i/banner3.png);">
                <div class="default_tour_block_info">
                    <div class="default_tour_block_text">
                     6 дней<span>|</span>125 678т
                    </div>
                </div>         
            </div>
            <div class="default_tour_block__bottom">
                <h2 class="default_tour_block__name">Большое алматинское озеро</h2>
            </div>
        </a>

        <a href="#" class="default_tour_block ">
            <div class="default_tour_block__top" style="background-image: url(./assets/i/banner2.png);">
                <div class="default_tour_block_info">
                    <div class="default_tour_block_text">
                     6 дней<span>|</span>125 678т
                    </div>
                </div>         
            </div>
            <div class="default_tour_block__bottom">
                <h2 class="default_tour_block__name">Путешествие в старый мир</h2>
            </div>
        </a>

        <a href="#" class="default_tour_block">
            <div class="default_tour_block__top" style="background-image: url(./assets/i/banner5.png);">
                <div class="default_tour_block_info">
                    <div class="default_tour_block_text">
                     6 дней<span>|</span>125 678т
                    </div>
                </div>         
            </div>
            <div class="default_tour_block__bottom">
                <h2 class="default_tour_block__name">Великие горы Казахстана</h2>
            </div>
        </a>
        <div class="clear"></div>
    </div>
    <div class="more">
        <a class="montserrat_bold more__link" href="#">Показать больше <img src="./assets/i/arrow_blue.png" alt="all-tours"></a>
    </div>
</section>