<section class="pop_places">

    <header class="content_header">
        <div class="content_header__left">
            <h3 class="content_header__intro">Skyway популярное</h3>
            <h2 class="content_header__name">Популярные места</h2>
        </div>
    </header>
    
    <div class="pop_places_container">

        <a href="#" class="pop_place_block">
            <div class="pop_place_block__top" style="background-image: url(./assets/i/banner3.png);">
                <div class="pop_place_block_info">
                    <div class="pop_place_block_text">
                        <p class="montserrat_light">Знакомство с южной столицей Казахстана, ее прошлым и настоящим, уникальной природой и любимыми местами отдыха горожан.</p>
                    </div>
                </div>         
            </div>
            <div class="pop_place_block__bottom">
                <h2 class="pop_place_block__name">Ташкент</h2>
            </div>
        </a> 
        <a href="#" class="pop_place_block">
            <div class="pop_place_block__top" style="background-image: url(./assets/i/banner2.png);">
                <div class="pop_place_block_info">
                    <div class="pop_place_block_text">
                        <p class="montserrat_light">Знакомство с южной столицей Казахстана, ее прошлым и настоящим, уникальной природой и любимыми местами отдыха горожан.</p>
                    </div>
                </div>         
            </div>
            <div class="pop_place_block__bottom">
                <h2 class="pop_place_block__name">Каракол</h2>
            </div>
        </a> 
        <a href="#" class="pop_place_block">
            <div class="pop_place_block__top" style="background-image: url(./assets/i/banner5.png);">
                <div class="pop_place_block_info">
                    <div class="pop_place_block_text">
                        <p class="montserrat_light">Знакомство с южной столицей Казахстана, ее прошлым и настоящим, уникальной природой и любимыми местами отдыха горожан.</p>
                    </div>
                </div>         
            </div>
            <div class="pop_place_block__bottom">
                <h2 class="pop_place_block__name">Бухара</h2>
            </div>
        </a>        
        <a href="#" class="pop_place_block">
            <div class="pop_place_block__top" style="background-image: url(./assets/i/banner3.png);">
                <div class="pop_place_block_info">
                    <div class="pop_place_block_text">
                        <p class="montserrat_light">Знакомство с южной столицей Казахстана, ее прошлым и настоящим, уникальной природой и любимыми местами отдыха горожан.</p>
                    </div>
                </div>         
            </div>
            <div class="pop_place_block__bottom">
                <h2 class="pop_place_block__name">Ташкент</h2>
            </div>
        </a> 
        <a href="#" class="pop_place_block">
            <div class="pop_place_block__top" style="background-image: url(./assets/i/banner2.png);">
                <div class="pop_place_block_info">
                    <div class="pop_place_block_text">
                        <p class="montserrat_light">Знакомство с южной столицей Казахстана, ее прошлым и настоящим, уникальной природой и любимыми местами отдыха горожан.</p>
                    </div>
                </div>         
            </div>
            <div class="pop_place_block__bottom">
                <h2 class="pop_place_block__name">Каракол</h2>
            </div>
        </a> 
        <a href="#" class="pop_place_block">
            <div class="pop_place_block__top" style="background-image: url(./assets/i/banner5.png);">
                <div class="pop_place_block_info">
                    <div class="pop_place_block_text">
                        <p class="montserrat_light">Знакомство с южной столицей Казахстана, ее прошлым и настоящим, уникальной природой и любимыми местами отдыха горожан.</p>
                    </div>
                </div>         
            </div>
            <div class="pop_place_block__bottom">
                <h2 class="pop_place_block__name">Бухара</h2>
            </div>
        </a>
        <div class="clear"></div>
    
    </div>
    <div class="more">
        <a class="montserrat_bold more__link" href="#">Показать больше <img src="./assets/i/arrow_blue.png" alt="all-tours"></a>
    </div>
</section>