<section class="grid_container pop_tours">

    <header class="content_header">
        <div class="content_header__left">
            <h3 class="content_header__intro">Skyway популярное</h3>
            <h2 class="content_header__name">Популярные туры</h2>
        </div>
        <div class="content_header__right">
            <a class="content_header_all_btn" href="#">Все туры <img src="./assets/i/arrow_blue.png" alt="all-tours"></a>
        </div>
    </header>

    <article class="main_tour_block">
        <div class="main_tour_block__top">
            <div class="main_tour_block__name_container">
                <h2 class="main_tour_block__name gilroy_bolder">Чарынский<br>каньон</h2>
            </div>
            <div class="main_tour_block__detail_container">
                <a class="btn main_tour_block__detail" href="#"><div class="anim"></div><span>Подробнее<img src="/assets/i/triangle.png" alt=""></span></a>
                <div class="main_tour_block__day_price">6 дней<span>|</span>125 678т</div>
            </div>
        </div>
        <div class="main_tour_block__bottom">
            <div class="main_tour_block_descr">
                <p>154 км вдоль реки Чарын в Казахстане. Каньон располагается в 195 км восточнее Алматы, недалеко от границы с Китаем. Каньон входит в территорию Чарынского национального парка</p>
            </div>
            <div class="switch_container main_tour_block__switch">
                <span class="switcher main_tour_block_switcher switcher--active"></span>
                <span class="switcher main_tour_block_switcher"></span>
                <span class="switcher main_tour_block_switcher"></span>
                <span class="switcher main_tour_block_switcher"></span>
            </div>
            <div class="arrow_switch_container main_tour_block_arrow_switch">
                <div class="arrow_switcher main_tour_block_arrow"><img src="./assets/i/arrow_l.png" alt="Prev"></div>
                <div class="arrow_switcher main_tour_block_arrow"><img src="./assets/i/arrow_r.png" alt="Next"></div>
            </div>
        </div>
    </article>

    <article class="hit_tour_block">
        <div class="hit_tour_block__img">
            <div class="hit_tour_block__top">
                <span class="hit_tour_block__label montserrat_black">хит</span>
                <div class="hit_tour_block__info">
                    <div class="hit_tour_block__info_text">
                        6 дней
                    </div>
                    <div class="hit_tour_block__info_text line_through">
                        165 789т
                    </div>
                    <div class="hit_tour_block__info_text montserrat_black">
                        125 768т
                    </div>
                </div>
            </div>
        </div>
        <div class="hit_tour_block__bottom">
            <h2 class="hit_tour_block__name">Обзорная экскурсия по Алматы</h2>
        </div>
    </article>
    

    <a href="#" class="default_tour_block">
        <div class="default_tour_block__top" style="background-image: url(./assets/i/banner3.png);">
            <div class="default_tour_block_info">
                <div class="default_tour_block_text">
                 6 дней<span>|</span>125 678т
                </div>
            </div>         
        </div>
        <div class="default_tour_block__bottom">
            <h2 class="default_tour_block__name">Большое алматинское озеро</h2>
        </div>
    </a>

    <a href="#" class="default_tour_block">
        <div class="default_tour_block__top" style="background-image: url(./assets/i/banner2.png);">
            <div class="default_tour_block_info">
                <div class="default_tour_block_text">
                 6 дней<span>|</span>125 678т
                </div>
            </div>         
        </div>
        <div class="default_tour_block__bottom">
            <h2 class="default_tour_block__name">Путешествие в старый мир</h2>
        </div>
    </a>

    <a href="#" class="default_tour_block default_tour_block--last">
        <div class="default_tour_block__top" style="background-image: url(./assets/i/banner5.png);">
            <div class="default_tour_block_info">
                <div class="default_tour_block_text">
                 6 дней<span>|</span>125 678т
                </div>
            </div>         
        </div>
        <div class="default_tour_block__bottom">
            <h2 class="default_tour_block__name">Великие горы Казахстана</h2>
        </div>
    </a>
    
    <div class="clear"></div>
</section>